* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", serif;
  outline: 0;
}
body {
  font-family: "Manrope", serif;
}

html {
  font-size: 62.5%;
}
#menubar,
#menubar2 {
  display: none;
}
#menucontainer {
  display: none;
}

.language-bar {
  background-color: #366e47;
  padding: 0.5rem 0;
  width: 100%;
  height: 5rem;
}

.language-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
}

#chevon {
  color: black;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  background-color: white;
  padding: 0.9rem 1.2rem;
  border-radius: 0.8rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2a4632b2;
  height: 7rem;
  padding: 0 2rem;
  position: relative;
}

.nav-image img {
  width: 101px;
  height: 31px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listed a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  color: white;
}

.listed a:hover {
  border-bottom: 0.5rem solid #f77b09;
  border-radius: 0.6rem;
}

.listed1 a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  color: white;
  border-bottom: 0.5rem solid #f77b09;
  border-radius: 0.6rem;
}

.listed2 a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  color: #f77b09;
  border: 0.1rem solid #f77b09;
  padding: 0.7rem 2rem;
  border-radius: 0.8rem;
}

.listed2 a:hover {
  background: #d06c0f;
  color: white;
}

.listed3 a:hover {
  background-color: #d06c0f;
}

.listed3 a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  background-color: #f77b09;
  color: white;
  border: 0.1rem solid #f77b09;
  padding: 0.7rem 2rem;
  border-radius: 0.8rem;
}

.dropdown-menu {
  position: absolute;
  width: 270px;
  background-color: #e1dada;
  list-style-type: none;
  margin-top: 2.5rem;
  opacity: 0;
}

.dropdown-menu li {
  padding: 1.5rem 0;
  font-size: 1.6rem;
  border-bottom: 1px solid #366e47;
}

.dropdown-menu li a {
  color: #366e47;
}

.dropdown-menu li a:hover {
  color: #f77b09;
  border-bottom: none;
}

nav li:hover .dropdown-menu {
  opacity: 1;
}

.arrow-head a {
  border-bottom: none;
}

.arrow {
  margin-left: 5rem;
}

.sub-menu {
  position: absolute;
  width: 270px;
  background-color: #e1dada;
  list-style-type: none;
  margin-top: -5.3rem;
  margin-left: 27rem;
  opacity: 0;
  display: none;
}

.sub-menu li {
  padding: 1.5rem 0;
  font-size: 1.6rem;
  border-bottom: 1px solid #366e47;
}

.sub-menu li a {
  color: #366e47;
}

.sub-menu li a:hover {
  color: #f77b09;
  border-bottom: none;
  display: block;
}

nav li:hover .sub-menu {
  opacity: 1;
}

.about {
  font-size: 5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.6rem;
  text-align: center;
}

.late {
  display: block;
}

.innovate {
  font-size: 3.6rem;
  font-weight: 700;
  color: white;
  margin: 0;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: -1;
}

.nav-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  /* REMOVE background-image, background-position, background-size, background-repeat */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.man {
  margin-top: 6rem;
  text-align: center;
  padding-top: 5rem;
}

.ploy a {
  color: white;
  border: 1px solid #c0c0c0;
  padding: 1.4rem 6.2rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-size: 2rem;
}

.ploy a:hover {
  background-color: #f77b09;
  transition: ease-in-out 1s;
}

.gpin a:hover {
  background-color: #d06c0f;
  transition: ease-in-out 1s;
}

.gpin a {
  color: white;
  background-color: #f77b09;
  padding: 1.4rem 4.2rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-size: 2rem;
}

.ploy,
.gpin {
  margin-top: 3rem;
}

.plo-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

#countrycode {
  width: 22rem;
  padding: 15px;
  justify-content: space-between;
  margin-left: 2vw;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.561);
  border: 0;
  text-shadow: 1px 0px black;
  color: white;
}

#populationclock {
  height: 160vh;
  background-color: rgba(169, 169, 169, 0.217);
  color: black;
}

#populationclockheader {
  font-size: 3rem;
}

#popu-clock {
  background-image: url(Frame\ 1000006284.png);
  width: 97vw;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#popuclockdisplay {
  padding: 1vh;
  background-color: transparent;
  float: right;
  width: 14vw;
  margin-right: 5vw;
  color: red;
  font-weight: bolder;
  border: 6px solid lightgray;
  font-size: 3rem;
}

#countrypopulation {
  height: 16.4vw;
  width: 48%;
  background-color: transparent;
  float: left;
}

#Worldpopulation {
  height: 16.4vw;
  width: 51%;
  background-color: transparent;
  float: right;
}

h2 {
  font-size: 2.6rem;
  color: white;
}

#Nigeriadigit {
  height: 12vh;
  width: 4vw;
  margin-left: -0.5vw;
  font-size: 2.6rem;
  font-weight: bolder;
  color: orangered;
  border: 0;
  margin-top: 10vh;
}

#worlddigit {
  height: 12vh;
  width: 4vw;
  margin-left: -0.5vw;
  font-size: 2.6rem;
  font-weight: bolder;
  color: orangered;
  border: 0;
  margin-top: 10vh;
}

#NigeriaPopulationNumbers {
  font-size: 5rem;
  color: white;
}

#worldPopulationNumbers {
  font-size: 5rem;
  color: white;
}
marquee {
  backdrop-filter: blur(1px);
}

#populationrateschangesndcountrytop {
  height: 53vh;
  width: 95%;
  background-color: whitesmoke;
}

#componentofpopulationchange {
  height: 53vh;
  width: 47%;
  float: left;
  background-color: whitesmoke;
}

#topmostpopulouscountries {
  float: right;
  width: 47%;
  background-color: whitesmoke;
  height: 53vh;
  margin-right: 5.5vw;
  margin-top: -53vh;
}

h3 {
  font-size: 1.8rem;
  text-align: left;
  margin-left: 1vw;
}

#populationrangelist {
  width: 100%;
  background-color: transparent;
  height: 6vh;
  color: black;
  font-size: 1.6rem;
}

#range1 {
  justify-content: space-between;
  float: left;
  margin-left: 1vw;
  margin-top: 0.5vh;
}

#rangebar {
  width: 11vw;
  padding: 0.1vh;
  background-color: rgba(169, 169, 169, 0.477);
  float: right;
  margin-top: 1vh;
  margin-right: 1vw;
}

#rangebtn {
  width: 80%;
  padding: 1.6vh;
  border: 0;
  float: left;
  background-color: skyblue;
}

#rangebtn4 {
  width: 30%;
  padding: 1.6vh;
  border: 0;
  float: left;
  background-color: skyblue;
}

#rangebtn3 {
  width: 40%;
  padding: 1.6vh;
  border: 0;
  float: left;
  background-color: skyblue;
}

#rangebtn2 {
  width: 50%;
  padding: 1.6vh;
  border: 0;
  float: left;
  background-color: skyblue;
}

#countery1-5 {
  float: left;
  margin-left: 0.5vw;
  width: 52%;
  background-color: transparent;
  border: 2px solid gray;
  border-top: hidden;
  border-bottom: hidden;
  border-right: hidden;
  height: 37vh;
}

#countery6-10 {
  float: right;
  width: 46%;
  background-color: transparent;
  height: 37vh;
}
#country {
  float: left;
  margin-left: 0.6vw;
  background-color: transparent;
  border: 0;
  outline: 0;
}

#countrytotal {
  background-color: transparent;
  border: 0;
  outline: 0;
}

#Nigerianpastpopulation {
  width: 90%;
  height: 20vh;
  background-color: whitesmoke;
  margin-top: 8vh;
  border-radius: 20px;
}
#dateimg {
  height: 60px;
  float: left;
  margin-left: 3vw;
  margin-top: 2vh;
  width: 60px;
}

#ngdatetext {
  float: right;
  font-size: 2rem;
  margin-right: 16vw;
  margin-top: -11vh;
}
#datedivisor {
  height: 16vh;
  position: absolute;
  float: left;
  margin-top: 2.5vh;
  border: 1px solid gray;
  margin-left: -38vw;
  background-color: gray;
}

#ngabtn {
  float: right;
}

#ngabtn,
#ngabtn1 {
  justify-content: space-between;
  margin-right: 2vw;
  margin-top: -3vh;
  font-size: 2rem;
  font-weight: bolder;
  background-color: transparent;
  border: 0;
  outline: 0;
}

#right {
  height: 20px;
  width: 25px;
  margin-right: 2vw;
}

#right2 {
  height: 25px;
  width: 25px;
  float: right;
}

#populousstatesanddensity {
  height: 120vh;
  background-color: rgba(128, 128, 128, 0.122);
}
#learnmoreanddownoad {
  width: 20vw;
  height: 5vh;
  background-color: transparent;
  justify-content: space-between;
  float: right;
  margin-top: -3vh;
}

#ngbtn {
  padding: 2px;
  font-weight: bolder;
  font-size: 2rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  float: left;
}

#learnmoreanddownoad2 {
  width: 20vw;
  height: 5vh;
  background-color: transparent;
  justify-content: space-between;
  float: left;
}

#ngbtn2 {
  padding: 2px;
  font-weight: bolder;
  font-size: 2rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: black;
  float: left;
  margin-left: 2vw;
}

#chevron-right {
  color: orange;
  font-size: 30px;
  margin-right: 8vw;
}

#download-icon {
  color: orange;
  font-size: 30px;
}

#chevron-right2 {
  color: orange;
  font-size: 30px;
}

#download-icon2 {
  color: orange;
  font-size: 30px;
}

#mostpopulousstatecontainer {
  height: 96vh;
  border-radius: 10px;
  float: left;
  margin-left: 5vw;
  width: 44%;
  background-color: white;
}

#mostpopulousstatecontainer2 {
  height: 96vh;
  border-radius: 10px;
  float: right;
  margin-right: 5vw;
  width: 44%;
  background-color: white;
}

#highdensity {
  height: 90vh;
  border-radius: 10px;
  float: right;
  margin-right: 5vw;
  width: 44%;
  background-color: white;
}

h5 {
  color: black;
  font-size: 3rem;
  margin: 2vh 2vw;
}

#generate {
  float: right;
}

#topic {
  padding: 17px;
  width: 33%;
  border-radius: 0;
  border: 2px solid gray;
  background-color: transparent;
  font-size: 2.8rem;
}

#topic:first-of-type {
  border-left: hidden;
  border-right: hidden;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: rgba(255, 68, 0, 0.487);
  text-decoration-thickness: 4px;
}

#topic:last-child {
  border-right: hidden;
  border-left: hidden;
}

#states-population {
  width: 100%;
  height: 15vh;
  background-color: rgba(128, 128, 128, 0.699);
}

#statetotal2025-2 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.123);
  height: 5vh;
}

#statetotal2025 {
  width: 100%;
  background-color: transparent;
  height: 5vh;
}

.state2025 {
  float: left;
}

.total2025-2 {
  float: right;
}

#T2025btn {
  background-color: transparent;
  color: royalblue;
  border: 0;
  outline: 0;
  font-weight: bolder;
  width: 3vw;
  font-size: 1.8rem;
}

#nigeriapopuationbyage {
  height: 180vh;
  background-color: lightgray;
}

#nigeriapopulationbysex {
  width: 95%;
  height: 20vh;
  border-radius: 20px;
  background-color: whitesmoke;
}

#text {
  float: left;
}

#textheader-for-population-in-nigeria-by-sex {
  font-size: 3rem;
}

#gender {
  width: 2rem;
  padding: 14px;
  border: 0;
  outline: 0;
  margin-right: 1vw;
}

#genders {
  float: right;
  margin-right: 35vw;
  margin-top: 4vh;
}

li {
  font-size: 1.6rem;
  list-style: none;
}

li:first-of-type {
  margin-right: 1.5vw;
}

#graph {
  width: 99%;
  height: 125vh;
  background-color: whitesmoke;
  border-radius: 20px;
}

#graphlength {
  float: left;
  height: 110vh;
  width: 8%;
  margin-left: 1vw;
  border: hidden;
  border-radius: 10px;
}
#graphbar {
  width: 87%;
  border-radius: 10px;
  float: right;
  height: 109vh;
  margin-right: 3vw;
  border: 2px solid gray;
}

#numbersforlength {
  margin: 1.9vh;
  font-size: 1.9rem;
}

#bar1 {
  width: 4vw;
  margin-left: 1vw;
}

#barone {
  width: 50%;
}

.Male {
  background-color: green;
  border: 0;
  outline: 0;
  height: 3.711vh;
  margin: 2.333vh;
}

.Female {
  background-color: orange;
  outline: 0;
  float: right;
  padding: 11.5px;
  border: 1px solid whitesmoke;
  border-right: hidden;
  border-top: hidden;
  border-bottom: hidden;
}

#bar2 {
  width: 5vw;
  margin-left: 2vw;
}

#bartwo {
  float: right;
  width: 60%;
}

#bar3 {
  width: 6vw;
  margin-left: 2.4vw;
}

#barthree {
  float: right;
  width: 60%;
}

#bar4 {
  width: 10vw;
  margin-left: 1.2vw;
}

#barfour {
  float: right;
  width: 50%;
}

#bar5 {
  width: 12vw;
  margin-left: 1.2vw;
}

#barfive {
  float: right;
  width: 50%;
}

#bar6 {
  width: 14vw;
  margin-left: 1.2vw;
}

#barsix {
  float: right;
  width: 50%;
}

#bar7 {
  width: 17vw;
  margin-left: 2.5vw;
}

#barseven {
  float: right;
  width: 54%;
}

#bar8 {
  width: 22vw;
  margin-left: 1vw;
}

#bareight {
  float: right;
  width: 50%;
}

#bar9 {
  width: 28vw;
  margin-left: 1vw;
}

#barnine {
  float: right;
  width: 50%;
}

#bar10 {
  width: 33vw;
  margin-left: 2.3vw;
}

#barten {
  float: right;
  width: 52%;
}

#bar11 {
  width: 36vw;
  margin-left: 3.2vw;
}

#bareleven {
  float: right;
  width: 53%;
}

#bar12 {
  width: 46vw;
  margin-left: 3.8vw;
}

#bartwelve {
  float: right;
  width: 53%;
}

#bar13 {
  width: 55vw;
  margin-left: 4.4vw;
}

#barthirteen {
  float: right;
  width: 53%;
}

#bar14 {
  width: 64vw;
  margin-left: 1vw;
}

#barfourteen {
  float: right;
  width: 50%;
}

#bar15 {
  width: 74vw;
  margin-left: 4vw;
}

#barfifteen {
  float: right;
  width: 52%;
}

#bar16 {
  width: 80vw;
  margin-left: 1vw;
}

#barsixteen {
  float: right;
  width: 50%;
}

#bar17 {
  width: 82vw;
  margin-left: 0.9vw;
}

#barseventeen {
  float: right;
  width: 50%;
}

#measuringNumbers {
  justify-content: space-between;
  float: left;
  margin-left: 1.588vw;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: black;
  font-weight: bolder;
  font-size: 1.9rem;
  margin-top: 2vh;
}

#birthanddeathrate {
  height: 200vh;
  background-color: gray;
}

#deathadbirthrategraphcontainer {
  height: 155vh;
  width: 95%;
  background-color: white;
  border-radius: 30px;
}

#yearbirthdeath {
  height: 145vh;
  width: 34%;
  border: 2px solid black;
  float: left;
  border-radius: 20px;
  margin-left: 2vw;
  margin-top: 2vh;
}

.graphs {
  float: right;
  margin-top: -104.5rem;
  margin-right: 8rem;
}

#deathrate {
  border: 0;
  outline: 0;
  font-size: 2rem;
  font-weight: bolder;
  background-color: transparent;
  justify-content: space-between;
  float: left;
  margin: 2vh 3.6vw;
}

#yearbirthdate {
  margin-left: -3vw;
}

.timeofdeathandbirthrate {
  float: left;
  margin: 2vh 5.2vw;
  font-size: 1.4rem;
  margin-left: 1vw;
  font-weight: bolder;
}

#populationidentificationpinnumber {
  height: 130vh;
  background-color: whitesmoke;
}

#identificationoimg {
  float: left;
  border: 2px solid black;
  height: 90vh;
  width: 43%;
  margin-left: 4vw;
  border-radius: 10px;
  background-image: linear-gradient(
      rgba(255, 166, 0, 0.092),
      rgba(255, 166, 0, 0.103)
    ),
    url(unsplash__XR5rkprHQU.png);
  background-position: -320px;
  border: 0;
  background-size: cover;
}

#identificationotextdropdown {
  float: right;
  margin-right: 4vw;
  height: 90vh;
  width: 46%;
  border-radius: 10px;
}

#identificationquestionsdropdownforPIN {
  width: 100%;
  height: 10vh;
  border-radius: 10px;
  background-color: rgba(5, 157, 5, 0.315);
  text-align: left;
  font-size: 2rem;
  font-weight: bolder;
  color: darkgreen;
  cursor: pointer;
}

#PINidentificationheader {
  font-size: 3.6rem;
  color: darkgreen;
}
#questionstextforPIN {
  margin-left: 2vw;
  margin-top: -1vh;
}

#chevondown {
  float: right;
  margin-right: 3vh;
}

#Ans1,
#Ans2,
#Ans3,
#Ans4,
#Ans5 {
  border: 2px solid green;
  height: 20vh;
  width: 98%;
  border-left: hidden;
  border-bottom: hidden;
  border-right: hidden;
  font-size: 1.6rem;
  font-weight: 600;
  color: darkgreen;
  text-align: left;
  display: none;
  animation: none;
}

@keyframes ans1 {
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

#learnmoreaboutpinbtn {
  width: 20vw;
  color: white;
  border: 0;
  outline: 0;
  background-color: #f77b09;
  border-radius: 0.8rem;
  font-weight: bolder;
  padding: 1.5rem;
}

#usesofPINCertificates {
  height: 150vh;
  width: 100%;
  background-image: url(IMG-20250226-WA0018.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#imagecontainerforusesofidentificationimg {
  width: 35%;
  height: 65vh;
  border-radius: 30px;
  justify-content: space-between;
  float: left;
  margin: 5vh 3vw;
}

#containers {
  margin-left: 15vw;
}

.container1:hover {
  transition: 1s;
  background-image: url(Component\ 52.png);
}

.container2:hover {
  transition: 1s;
  background-image: url(Component\ 53.png);
}

.container3:hover {
  transition: 1s;
  background-image: url(Component\ 55.png);
}

.container4:hover {
  transition: 1s;
  background-image: url(Component\ 54.png);
}

.container1 {
  background-image: linear-gradient(
      rgba(255, 166, 0, 0.092),
      rgba(255, 166, 0, 0.103)
    ),
    url(Component\ 52.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  color: rgba(255, 166, 0, 0.586);
  transition: 1s;
}

.container2 {
  background-image: linear-gradient(
      rgba(255, 166, 0, 0.092),
      rgba(255, 166, 0, 0.103)
    ),
    url(Component\ 53.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}

.container3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(255, 166, 0, 0.092),
      rgba(255, 166, 0, 0.103)
    ),
    url(Component\ 55.png);
  border: 0;
}
.container4 {
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(255, 166, 0, 0.092),
      rgba(255, 166, 0, 0.103)
    ),
    url(Component\ 54.png);
  background-size: cover;
  border: 0;
}

.mates {
  font-size: 4rem;
  font-weight: 700;
  color: #f77b09;
  margin-bottom: 4rem;
}

.gates {
  margin: 0 auto;
  width: 80%;
  background-color: white;
  padding: 3.2rem 6.4rem;
  border-radius: 0.8rem;
}

.mate {
  background-color: #f1f5f4;
  padding: 10.4rem 0;
}

.nig {
  font-size: 2rem;
  font-weight: 500;
  color: #366e47;
  margin-bottom: 2.5rem;
}

.jets {
  font-size: 2rem;
  font-weight: 500;
  color: #366e47;
  margin-bottom: 2.5rem;
}

.got {
  font-size: 2rem;
  font-weight: 500;
  color: #366e47;
}

.grate {
  font-size: 3.8rem;
  font-weight: 700;
  color: #f77b09;
  padding: 6.4rem;
  background-color: #feecd680;
  text-align: center;
}

.eden {
  display: block;
}

.form-container {
  width: 90%;
  margin: 0 auto;
  background-color: #feecd6bf;
  padding: 6.4rem 10rem;
  border-radius: 1.6rem;
}

.form-row {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
  width: 100%;
}

.form-row5 {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"] {
  padding: 0.7rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: #c0c0c0;
}

/* #file {
  display: none;
} */

#label-file {
  padding: 0.7rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: #c0c0c0;
  border: 1px solid #c0c0c0;
  background-color: white;
  cursor: pointer;
  display: block;
}

#checks {
  font-size: 1.6rem;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.generate-btn {
  background-color: #f77b09;
  color: white;
  border: none;
  border-radius: 0.8rem;
  padding: 1.6rem 9.2rem;
  font-size: 2rem;
  cursor: pointer;
}

.button {
  text-align: center;
}

.small-text {
  color: #4e4e4e;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.2rem;
}

#checks {
  font-size: 1.6rem;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.generate-btn {
  background-color: #f77b09;
  color: white;
  border: none;
  border-radius: 0.8rem;
  padding: 1.6rem 9.2rem;
  font-size: 2rem;
  cursor: pointer;
}

.button {
  text-align: center;
}

.small-text {
  color: #4e4e4e;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.2rem;
}

.birth {
  background-image: url(Frame\ 1000005929.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10.4rem 0;
}

footer {
  background-color: #366e47;
}

.pop img {
  margin-bottom: 3.4rem;
}

.serve {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

#pages {
  list-style: none;
}

.pages li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.pages li {
  color: white;
  font-size: 1.6rem;
}

.pg {
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.tel {
  color: white;
  font-size: 1.6rem;
}

.tel a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

.fa-solid,
.fa-regular {
  color: #366e47;
  margin-right: 0.8rem;
  font-size: 1.6rem;
}

.cen {
  display: block;
  margin-left: 2.5rem;
}

.tact {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.mapp {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 1.6rem;
}

.tog {
  display: flex;
  gap: 3.2rem;
}

.below {
  display: flex;
  justify-content: space-around;
  padding-top: 10.4rem;
  background-image: url(Footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .form-container {
    padding: 4.8rem 5rem;
  }

  #identificationoimg {
    height: 60vh;
  }

  #imagecontainerforusesofidentificationimg {
    max-width: 45%;
  }
}

@media (max-width: 992px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .navbar-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .listed a,
  .listed1 a,
  .listed2 a,
  .listed3 a {
    margin: 0.5rem 1rem;
  }

  .dropdown-menu,
  .sub-menu {
    position: static;
    width: 100%;
    margin: 0;
  }

  .sub-menu {
    margin-left: 0;
    padding-left: 2rem;
  }

  .arrow {
    margin-left: 2rem;
  }

  .innovate {
    font-size: 3.8rem;
  }

  #popu-clock {
    height: 50vh;
  }

  #countrypopulation,
  #Worldpopulation {
    width: 100%;
    float: none;
  }

  #Nigeriadigit,
  #worlddigit {
    width: 8vw;
  }

  #populationrateschangesndcountrytop {
    padding: 1rem;
  }

  #componentofpopulationchange,
  #topmostpopulouscountries {
    float: none;
    margin: 0;
  }

  #rangebar {
    width: 20vw;
  }

  #imagecontainerforusesofidentificationimg {
    max-width: 100%;
  }

  .form-row,
  .form-row5 {
    flex-direction: column;
    gap: 2rem;
  }

  .form-group {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar-list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-list.active {
    display: flex;
  }

  .listed a,
  .listed1 a,
  .listed2 a,
  .listed3 a {
    margin: 1rem 0;
  }

  .innovate {
    font-size: 3.2rem;
  }

  .form-container {
    padding: 3.2rem 2rem;
  }

  .generate-btn {
    padding: 1.6rem 6rem;
  }

  #popuclockdisplay {
    width: 20vw;
    font-size: 2rem;
  }

  #Nigeriadigit,
  #worlddigit {
    width: 10vw;
    height: 8vh;
    font-size: 2rem;
  }

  #NigeriaPopulationNumbers,
  #worldPopulationNumbers {
    font-size: 4rem;
  }

  #rangebar {
    width: 30vw;
  }

  #T2025btn {
    font-size: 1.6rem;
  }

  #identificationoimg {
    height: 40vh;
  }

  #learnmoreaboutpinbtn {
    width: 40vw;
  }

  .gates {
    padding: 2rem;
    width: 90%;
  }

  .mates,
  .grate {
    font-size: 3.2rem;
  }

  .nig,
  .jets,
  .got {
    font-size: 1.8rem;
  }

  .tog {
    flex-direction: row;
    /* align-items: center; */
  }

  .below {
    padding-top: 5rem;
  }

  nav {
    background-color: transparent;
  }
}

@media (max-width: 480px) {
  #populousstatesanddensity {
    height: 100vh;
  }
  #learnmoreanddownoad2 {
    width: 100%;
  }
  #mostpopulousstatecontainer {
    width: 100%;
    transform: scale(1);
    margin-top: 12vh;
    margin-left: -1vh;
  }
  #mostpopulousstatecontainer2 {
    transform: scale(1);
    float: left;
    width: 100%;
  }
  #nigeriapopuationbyage {
    height: 200vh;
  }
  #nigeriapopulationbysex {
    width: 100%;
    height: 40vh;
    border-radius: 0;
  }
  #genders {
    float: left;
    margin-left: 3vh;
  }
  #mobilelink {
    font-size: 2rem;
    padding: 10px;
    color: #366e47;
  }
  #graphlength {
    display: flex;
    width: 70vw;
    flex-direction: column;
  }
  #graphbar {
    position: absolute;
    width: 100%;
    height: 130vh;
    transform: scale(0.8);
    border: 0;
  }
  #measurment {
    margin-top: 100vh;
    width: 100vw;
    display: none;
  }
  #graphimg {
    margin-top: -50vh;
  }
  #yearbirthdeath {
    width: 100%;
  }
  #measuringNumbers {
  }
  #barone,
  #bar1,
  #bar2,
  #bartwo,
  #bar3,
  #barthree,
  #bar4,
  #barfour,
  #bar5,
  #barfive,
  #bar6,
  #barsix,
  #bar7,
  #barseven,
  #bar8,
  #bareight,
  #bar9,
  #barnine,
  #barten,
  #bar10,
  #bar11,
  #bareleven,
  #bar12,
  #bartwelve,
  #bar13,
  #barthirteen,
  #bar14,
  #barfourteen,
  #bar15,
  #barfifteen,
  #bar16,
  #barsixteen,
  #bar17,
  #barseventeen {
    height: 4.3vh;
  }
  #graphall {
    margin-left: 20vw;
  }
  #menubar,
  #menubar2 {
    display: inherit;
  }
  #linkss {
    text-align: center;
  }
  #menucontainer {
    height: 90vh;
    z-index: 1;
    width: 100%;
    background-color: #366e47;
    position: absolute;
    margin-bottom: -50vh;
    visibility: hidden;
    display: block;
  }
  #pincontainer {
    height: 30vh;
    overflow: scroll;
    width: 100%;
    overflow: scroll;
    display: none;
  }
  #mobilelink a {
    text-decoration: none;
    color: white;
  }
  #pinlink {
    font-size: 2rem;
    color: white;
    padding: 10px;
    backdrop-filter: blur(6px);
    text-decoration: none;
  }

  .innovate {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .about {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  .late {
    display: inline;
  }

  .ploy a {
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
  }

  .gpin a {
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
  }

  .plo-rate {
    flex-direction: column;
    margin-top: 6rem;
  }

  #countrycode {
    width: 18rem;
    font-size: 1.4rem;
  }

  .form-container {
    padding: 2.4rem 1rem;
  }

  #popu-clock {
    height: 40vh;
  }

  #populationclockheader {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  #Nigeriadigit,
  #worlddigit {
    width: 12vw;
    height: 6vh;
    font-size: 1.8rem;
  }

  #NigeriaPopulationNumbers,
  #worldPopulationNumbers {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  #range1 {
    font-size: 1.4rem;
  }

  #rangebar {
    width: 40vw;
  }

  #ngdatetext {
    font-size: 1.6rem;
  }

  #ngbtn {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  #topic {
    font-size: 2rem;
    padding: 10px;
  }

  #T2025btn {
    font-size: 1.4rem;
  }

  #textheader-for-population-in-nigeria-by-sex {
    font-size: 2.4rem;
  }

  #PINidentificationheader {
    font-size: 2.8rem;
  }

  #identificationquestionsdropdownforPIN {
    font-size: 1.8rem;
    height: 8vh;
  }

  #Ans1,
  #Ans2,
  #Ans3,
  #Ans4,
  #Ans5 {
    font-size: 1.4rem;
  }

  #learnmoreaboutpinbtn {
    width: 50vw;
    font-size: 1.6rem;
  }

  .mates {
    font-size: 2.8rem;
  }

  .nig,
  .jets,
  .got {
    font-size: 1.6rem;
  }

  .ber,
  .mates {
    font-size: 2rem;
  }

  .eden {
    display: inline;
  }

  .form-container {
    padding: 2.4rem 1rem;
    width: 100%;
  }

  .birth {
    margin: 0;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="tel"],
  #label-file {
    font-size: 1.33rem;
  }

  .generate-btn {
    padding: 1.6rem 4rem;
    font-size: 1.33rem;
  }

  .people1 img {
    width: 150px;
    height: 220px;
  }

  .join {
    font-size: 1.4rem;
    text-align: left;
  }

  .part {
    font-size: 1.2rem;
    text-align: left;
  }

  .form {
    display: inline;
  }

  #join {
    text-align: left;
    padding: 4rem 1rem;
    border-radius: 0 2.4rem 2.4rem 0;
  }

  .pop img {
    width: 110.8px;
    height: 64px;
    padding: 0 1rem;
  }

  .serve {
    font-size: 1.4rem;
    margin-top: -2rem;
    padding: 0 1rem;
  }

  .below {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5rem;
  }

  .map {
    order: 1;
    padding: 0 1rem;
    margin-top: 3.2rem;
    margin-bottom: 6rem;
  }

  .tog {
    gap: 3.6rem;
    padding: 0 1rem;
    margin-top: 3.2rem;
  }

  .language-container {
    display: none;
  }

  .nav-image {
    text-align: left;
    display: block;
    margin-top: -6rem;
    margin-left: -25rem;
  }
}

@media (max-width: 360px) {
  #join {
    text-align: left;
    padding: 3.9rem 1rem;
    border-radius: 0 2.4rem 2.4rem 0;
  }
  .people1 img {
    width: 150px;
    height: 233px;
  }

  #submit {
    width: 28rem;
  }
}

@media (max-width: 320px) {
  .innovate {
    font-size: 2.4rem;
  }

  .about {
    font-size: 1.8rem;
  }

  .ploy a,
  .gpin a {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }

  #countrycode {
    width: 16rem;
    font-size: 1.2rem;
  }

  .form-container {
    padding: 1.6rem 0.5rem;
  }

  .generate-btn {
    padding: 1.2rem 4rem;
    font-size: 1.6rem;
  }

  #popuclockdisplay {
    width: 25vw;
    font-size: 1.6rem;
  }

  #Nigeriadigit,
  #worlddigit {
    width: 14vw;
    height: 5vh;
    font-size: 1.6rem;
  }

  #NigeriaPopulationNumbers,
  #worldPopulationNumbers {
    font-size: 2.4rem;
  }

  #range1 {
    font-size: 1.2rem;
  }

  #rangebar {
    width: 50vw;
  }

  #ngdatetext {
    font-size: 1.4rem;
  }

  #ngbtn {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 2rem;
  }

  #topic {
    font-size: 1.8rem;
    padding: 8px;
  }

  #T2025btn {
    font-size: 1.2rem;
  }

  #textheader-for-population-in-nigeria-by-sex {
    font-size: 2rem;
  }

  #PINidentificationheader {
    font-size: 2.4rem;
  }

  #identificationquestionsdropdownforPIN {
    font-size: 1.6rem;
    height: 6vh;
  }

  #Ans1,
  #Ans2,
  #Ans3,
  #Ans4,
  #Ans5 {
    font-size: 1.2rem;
  }

  #learnmoreaboutpinbtn {
    width: 60vw;
    font-size: 1.4rem;
  }

  .mates,
  .grate {
    font-size: 2.4rem;
  }

  .nig,
  .jets,
  .got {
    font-size: 1.4rem;
  }

  #submit {
    width: 24rem;
  }

  .nav-image {
    text-align: left;
    display: block;
    margin-top: -6rem;
    margin-left: -20rem;
  }

  .tina a {
    padding: 0.5rem 2rem;
    font-size: 1.4rem;
  }

  .map img {
    width: 302px;
    height: 214px;
  }

  #join {
    text-align: left;
    padding: 1.5rem 1rem;
    border-radius: 0 2.4rem 2.4rem 0;
  }

  .people1 img {
    width: 150px;
    height: 240px;
  }
}
