* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", serif;
}
#menucontainer {
  display: none;
}
#menubar,
#menubar2 {
  display: none;
}
.language-bar {
  background-color: #366e47;
  padding: 0.5rem 0;
  width: 100%;
  height: 5rem; /* Adjusted for consistency */
}

.language-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
}

#chevon {
  color: black;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  background-color: white;
  padding: 0.9rem 1.2rem;
  border-radius: 0.8rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2a4632b2;
  height: 7rem;
  padding: 0 2rem;
  position: relative; /* Keep relative positioning for other elements */
}

.nav-image img {
  width: 101px;
  height: 31px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listed a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  color: white;
}

.listed a:hover {
  border-bottom: 0.5rem solid #f77b09;
  border-radius: 0.6rem;
}

.listed1 a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  color: white;
  border-bottom: 0.5rem solid #f77b09;
  border-radius: 0.6rem;
}

.listed2 a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  color: #f77b09;
  border: 0.1rem solid #f77b09;
  padding: 0.7rem 2rem;
  border-radius: 0.8rem;
}

.listed2 a:hover {
  background: #d06c0f;
  color: white;
}

.listed3 a:hover {
  background-color: #d06c0f;
}

.listed3 a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  background-color: #f77b09;
  color: white;
  border: 0.1rem solid #f77b09;
  padding: 0.7rem 2rem;
  border-radius: 0.8rem;
}

.about {
  font-size: 3.2rem;
  font-weight: 500;
  color: #f77b09;
  margin-bottom: 1.6rem;
}

.late {
  display: block;
}

.innovate {
  font-size: 5.4rem;
  font-weight: 700;
  color: white;
  margin: 0;
}

.man {
  text-align: center;
  padding-top: 5rem;
  margin-top: 5rem;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px; /* Or adjust as needed */
  z-index: -1; /* Keep it behind the navbar */
}

.nav-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  /* REMOVE background-image, background-position, background-size, background-repeat */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.con-man {
  font-size: 2.4rem;
  font-weight: 500;
  color: #f77b09;
  margin-bottom: 0.8rem;
}

.you {
  font-size: 4rem;
  font-weight: 700;
  color: #366e47;
  margin-bottom: 1.6rem;
}

.from,
.soon {
  display: block;
}

.help {
  color: #999999;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.info {
  font-size: 2.4rem;
  font-weight: 700;
  color: #366e47;
  margin-bottom: 1.6rem;
}

.general {
  color: #999999;
  font-size: 2rem;
  font-weight: 600;
}

.head {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  margin-top: 3.2rem;
  color: #366e47;
}

.address {
  color: #999999;
  font-size: 2rem;
  font-weight: 600;
}

.avail {
  font-size: 2.4rem;
  font-weight: 700;
  color: #366e47;
  margin-bottom: 3.2rem;
}

.type1 {
  display: block;
}

#job,
#type {
  height: 4rem;
  width: 33rem;
  border-radius: 0.8rem;
  margin-bottom: 3.4rem;
  font-size: 1.6rem;
  padding-left: 1.3rem;
  color: #a6a6a6;
  border: none;
}

#types {
  width: 33rem;
  color: #999999;
  font-size: 2rem;
  padding-left: 1.3rem;
  padding-top: 1.6remrem;
  border-radius: 0.8rem;
  margin-bottom: 3.2rem;
  border: none;
}

#submit {
  border: none;
  background-color: #f77b09;
  color: #e8e8e8;
  padding: 1.6rem 14.6rem;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 1.6rem;
}

.leave {
  background-color: #fde5ce;
  padding: 3.4rem 4.2rem;
  border-radius: 1.6rem;
}

#contact {
  display: flex;
  justify-content: space-around;
}

.gray {
  margin: 10.4rem 0;
}

.form {
  display: block;
}

.people1 img {
  width: 580px;
  height: 444px;
  border-radius: 2.4rem 0 0 2.4rem;
}

#join {
  background-color: #f77b09;
  padding: 4.5rem 16rem 4.5rem 10rem;
  border-radius: 0 2.4rem 2.4rem 0;
}

.join {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.part {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.tina a {
  background-color: white;
  color: #366e47;
  padding: 1.3rem 8.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.8rem;
}

.people {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  background-image: url("assets/Images/Frame\ 1000005929.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10.4rem 0;
}

footer {
  background-color: #366e47;
}

.pop img {
  margin-bottom: 3.4rem;
}

.serve {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

#pages {
  list-style: none;
}

.pages li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.pages li a:hover,
.tel a:hover {
  color: #f77b09;
}

.pages li {
  color: white;
  font-size: 1.6rem;
}

.pg {
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.tel {
  color: white;
  font-size: 1.6rem;
}

.tel a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

.fa-solid,
.fa-regular {
  color: #f77b09;
  margin-right: 0.8rem;
  font-size: 1.6rem;
}

.cen {
  display: block;
  margin-left: 2.5rem;
}

.tact {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.mapp {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 1.6rem;
}

.tog {
  display: flex;
  gap: 3.2rem;
}

.below {
  display: flex;
  justify-content: space-around;
  padding-top: 10.4rem;
  background-image: url("assets/Images/Footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    background: #2a4632b2;
    padding: 1rem;
  }

  .navbar-list.active {
    display: flex;
  }

  .navbar-list li {
    margin: 1rem 0;
    text-align: center;
  }

  .dropdown-menu,
  .sub-menu {
    position: static;
    width: 100%;
    margin: 0;
    opacity: 1;
    background: #e1dada;
    box-shadow: none;
  }

  .listed a,
  .listed1 a,
  .listed2 a,
  .listed3 a {
    font-size: 1.4rem;
    margin: 0;
    display: block;
    padding: 0.5rem;
  }

  .nav-image img {
    width: 80px;
    height: auto;
  }

  .nav-background {
    height: 300px; /* Reduced height for mobile */
  }

  .man {
    margin-top: 2rem;
    padding-top: 2rem;
  }

  .about {
    font-size: 2.4rem;
    font-weight: 700;
  }

  .innovate {
    font-size: 3.2rem;
    font-weight: 700;
  }

  #contact {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .con-man,
  .you,
  .help,
  .info,
  .general,
  .head,
  .address {
    text-align: center;
  }

  .you {
    font-size: 3rem; /* Reduced for mobile readability */
  }

  .help,
  .general,
  .address {
    font-size: 1.6rem; /* Reduced for mobile readability */
  }

  #job,
  #type,
  #types {
    width: 100%;
    border: none;
  }

  #submit {
    padding: 1rem 6rem;
  }

  .people {
    text-align: center;
  }

  .people1 img {
    width: 100%;
    height: auto;
    border-radius: 2.4rem 0 0 2.4rem;
  }

  #join {
    border-radius: 2.4rem 0 2.4rem 0;
    padding: 2rem 1rem;
  }

  .below {
    flex-direction: column;
    height: auto;
    padding-top: 5rem;
  }

  .tog {
    gap: 0rem;
  }

  nav {
    background-color: transparent;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav-image img {
    width: 90px;
    height: auto;
  }

  #contact {
    gap: 2rem;
  }

  #job,
  #type,
  #submit {
    width: 80%;
  }

  #types {
    width: 80%;
  }

  .people1 img {
    width: 50%;
    height: auto;
  }

  #join {
    padding: 3rem 10rem;
  }

  .below {
    gap: 3rem;
  }
}

/* Media Query for Large Desktops (min-width: 1201px) */
@media (min-width: 1201px) {
  .nav-background {
    height: 600px; /* Increased height for larger screens */
  }

  .man {
    padding-top: 8rem;
  }

  .about {
    font-size: 4rem;
  }

  .innovate {
    font-size: 6.4rem;
  }

  #contact {
    gap: 6rem;
  }

  #job,
  #type,
  #submit {
    width: 33rem;
  }

  #types {
    width: 33rem;
  }

  .people1 img {
    width: 580px;
  }

  #join {
    padding: 4.5rem 16rem 4.5rem 10rem;
  }

  .below {
    gap: 4rem;
    height: 600px;
  }
}

@media (max-width: 480px) {
  #mobilelink {
    font-size: 2rem;
    padding: 10px;
    color: #366e47;
  }
  #menubar,
  #menubar2 {
    display: inherit;
  }
  #linkss {
    text-align: center;
  }
  #menucontainer {
    height: 90vh;
    z-index: 1;
    width: 100%;
    background-color: #366e47;
    position: absolute;
    margin-bottom: -50vh;
    visibility: hidden;
    display: block;
  }
  #pincontainer {
    height: 30vh;
    overflow: scroll;
    width: 100%;
    overflow: scroll;
    display: none;
  }
  #mobilelink a {
    text-decoration: none;
    color: white;
  }
  #pinlink {
    font-size: 2rem;
    color: white;
    padding: 10px;
    backdrop-filter: blur(6px);
    text-decoration: none;
  }
  .about {
    font-size: 2rem;
  }

  .innovate {
    font-size: 2.4rem;
  }

  .you {
    font-size: 2.4rem;
  }

  .contact {
    margin-top: -10rem;
  }

  .con-man,
  .info,
  .head {
    font-size: 2rem;
    text-align: left;
    padding: 0 1rem;
  }

  .you {
    font-size: 2.4rem;
    text-align: left;
    padding: 0 1rem;
  }

  .from {
    display: inline;
  }

  .help {
    font-size: 1.6rem;
    padding: 0 1rem;
    text-align: left;
  }

  .soon {
    display: inline;
  }

  .avail {
    font-size: 2rem;
    text-align: left;
  }

  .general {
    font-size: 1.6rem;
    text-align: left;
    padding: 0 1rem;
  }
  .address {
    font-size: 1.6rem;
    text-align: left;
    padding: 0 1rem;
  }

  /* /* #job, */
  /* #type, */
  /* #submit { */
  /* } */

  #submit {
    padding: 1rem 4rem;
    font-size: 1.6rem;
    padding-left: 1.3rem;
    color: white;
    height: 4rem;
    width: 33rem;
    border-radius: 0.8rem;
    margin-bottom: 3.4rem;
  }

  .part {
    font-size: 1.2rem;
  }

  .people1 img {
    width: 150px;
    height: 220px;
  }

  .form {
    display: inline;
  }

  .join {
    font-size: 1.4rem;
    text-align: left;
  }

  .tina a {
    padding: 0.8rem 3rem;
    font-size: 1.4rem;
  }

  #join {
    text-align: left;
    padding: 4rem 1rem;
    border-radius: 0 2.4rem 2.4rem 0;
  }

  .pop img {
    width: 110.8px;
    height: 64px;
    padding: 0 1rem;
  }

  .serve {
    font-size: 1.4rem;
    margin-top: -2rem;
    padding: 0 1rem;
  }

  .below {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5rem;
  }

  .map {
    order: 1;
    padding: 0 1rem;
    margin-top: 3.2rem;
    margin-bottom: 6rem;
  }

  .tog {
    gap: 3.6rem;
    padding: 0 1rem;
    margin-top: 3.2rem;
  }

  .language-container {
    display: none;
  }

  .nav-image {
    text-align: left;
    display: block;
    margin-top: -12rem;
    margin-left: -14rem;
  }
}

@media (max-width: 360px) {
  #join {
    text-align: left;
    padding: 3.9rem 1rem;
    border-radius: 0 2.4rem 2.4rem 0;
  }
  .people1 img {
    width: 150px;
    height: 233px;
  }

  #submit {
    width: 28rem;
  }
}

@media (max-width: 320px) {
  #submit {
    width: 24rem;
  }

  .nav-image {
    text-align: left;
    display: block;
    margin-top: -12rem;
    margin-left: -11rem;
  }

  .tina a {
    padding: 0.5rem 2rem;
    font-size: 1.4rem;
  }

  .map img {
    width: 302px;
    height: 214px;
  }

  #join {
    text-align: left;
    padding: 1.5rem 1rem;
    border-radius: 0 2.4rem 2.4rem 0;
  }

  .people1 img {
    width: 150px;
    height: 240px;
  }
}
