* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", serif;
  outline: 0;
}
body {
  font-family: "Manrope", serif;
}

html {
  font-size: 62.5%;
}

#menucontainer {
  display: none;
}
#menubar,
#menubar2 {
  display: none;
}

.language-bar {
  background-color: #366e47;
  padding: 0.5rem 0;
  width: 100%;
  height: 5rem;
}

.language-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
}

#chevon {
  color: black;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  background-color: white;
  padding: 0.9rem 1.2rem;
  border-radius: 0.8rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2a4632b2;
  height: 7rem;
  padding: 0 2rem;
  position: relative;
}

.nav-image img {
  width: 101px;
  height: 31px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listed a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  color: white;
}

.listed a:hover {
  border-bottom: 0.5rem solid #f77b09;
  border-radius: 0.6rem;
}

.listed1 a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  color: white;
  border-bottom: 0.5rem solid #f77b09;
  border-radius: 0.6rem;
}

.listed2 a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  color: #f77b09;
  border: 0.1rem solid #f77b09;
  padding: 0.7rem 2rem;
  border-radius: 0.8rem;
}

.listed2 a:hover {
  background: #d06c0f;
  color: white;
}

.listed3 a:hover {
  background-color: #d06c0f;
}

.listed3 a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 1.5rem;
  background-color: #f77b09;
  color: white;
  border: 0.1rem solid #f77b09;
  padding: 0.7rem 2rem;
  border-radius: 0.8rem;
}

.dropdown-menu {
  position: absolute;
  width: 270px;
  background-color: #e1dada;
  list-style-type: none;
  margin-top: 2.5rem;
  opacity: 0;
}

.dropdown-menu li {
  padding: 1.5rem 0;
  font-size: 1.6rem;
  border-bottom: 1px solid #366e47;
}

.dropdown-menu li a {
  color: #366e47;
}

.dropdown-menu li a:hover {
  color: #f77b09;
  border-bottom: none;
}

nav li:hover .dropdown-menu {
  opacity: 1;
}

.arrow-head a {
  border-bottom: none;
}

.arrow {
  margin-left: 5rem;
}

.sub-menu {
  position: absolute;
  width: 270px;
  background-color: #e1dada;
  list-style-type: none;
  margin-top: -5.3rem;
  margin-left: 27rem;
  opacity: 0;
  display: none;
}

.sub-menu li {
  padding: 1.5rem 0;
  font-size: 1.6rem;
  border-bottom: 1px solid #366e47;
}

.sub-menu li a {
  color: #366e47;
}

.sub-menu li a:hover {
  color: #f77b09;
  border-bottom: none;
  display: block;
}

nav li:hover .sub-menu {
  opacity: 1;
}

.about {
  font-size: 5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.6rem;
  text-align: center;
}

.late {
  display: block;
}

.innovate {
  font-size: 3.6rem;
  font-weight: 700;
  color: white;
  margin: 0;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: -1;
}

.nav-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  /* REMOVE background-image, background-position, background-size, background-repeat */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.man {
  margin-top: 6rem;
  text-align: center;
  padding-top: 5rem;
}

.stand {
  margin-top: 20rem;
}

.for {
  color: #f77b09;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.cate {
  font-size: 4rem;
  font-weight: 700;
  color: #366e47;
}

.accurate {
  display: block;
}

.huge {
  color: #366e47;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.tracker {
  color: #999999;
  font-size: 2rem;
  font-weight: 600;
}

.collab {
  display: block;
}

.race {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 6.4rem;
}

.ion {
  font-size: 2.4rem;
  font-weight: 600;
  color: #f77b09;
  margin-bottom: 0.8rem;
}

.real {
  font-size: 2.4rem;
  font-weight: 700;
  color: #366e47;
  margin-bottom: 1.6rem;
}

.nate {
  color: #999999;
  font-size: 2rem;
  font-weight: 500;
}

.lation {
  display: block;
}

.vision {
  color: #f77b09;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.ful {
  color: #366e47;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 4.9rem;
}

.lead {
  color: #999999;
  font-size: 2rem;
  font-weight: 600;
}

.prove,
.drive {
  display: block;
}

.miss {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 6.4rem;
}

.trad-image img {
  width: 1240px;
  height: 580px;
  border-radius: 2.4rem;
}

.trad-image {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 10.4rem;
}

.mg {
  font-size: 2.4rem;
  font-weight: 500;
  color: #f77b09;
  margin-bottom: 1.6rem;
}

.data {
  font-size: 4rem;
  font-weight: 700;
  color: #366e47;
}

.able {
  display: block;
  text-align: center;
}

.goal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10.4rem 0;
}

.port,
.cise,
.duce,
.access {
  display: block;
}

.pro,
.locate,
.line,
.foster {
  font-size: 2.4rem;
  font-weight: 700;
  color: #366e47;
  margin-bottom: 1.6rem;
}

.liver,
.enable,
.grate,
.build {
  font-size: 2rem;
  color: #999999;
  font-weight: 600;
}

.vectors,
.tribes,
.streams,
.eyes {
  display: flex;
  gap: 0.8rem;
}

.gain,
.exp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 6.4rem;
}

.icons,
.main {
  background-color: #f1f5f4;
}

.form {
  display: block;
}

.people1 img {
  width: 580px;
  height: 444px;
  border-radius: 2.4rem 0 0 2.4rem;
}

#join {
  background-color: #f77b09;
  padding: 4.5rem 16rem 4.5rem 10rem;
  border-radius: 0 2.4rem 2.4rem 0;
}

.join {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.part {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.tina a {
  background-color: white;
  color: #366e47;
  padding: 1.3rem 8.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.8rem;
}

.people {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  background-image: url("images/Frame\ 1000005929.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10.4rem 0;
}

footer {
  background-color: #366e47;
}

.pop img {
  margin-bottom: 3.4rem;
}

.serve {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

#pages {
  list-style: none;
}

.pages li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.pages li {
  color: white;
  font-size: 1.6rem;
}

.pg {
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.tel {
  color: white;
  font-size: 1.6rem;
}

.tel a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

.fa-solid,
.fa-regular {
  color: #f77b09;
  margin-right: 0.8rem;
  font-size: 1.6rem;
}

.cen {
  display: block;
  margin-left: 2.5rem;
}

.tact {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.mapp {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 1.6rem;
}

.tog {
  display: flex;
  gap: 3.2rem;
}

.below {
  display: flex;
  justify-content: space-around;
  padding-top: 10.4rem;
  background-image: url("images/Footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

@media (max-width: 768px) {
  body {
    font-family: "Manrope", serif;
  }
  .hamburger {
    display: block;
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    background: #2a4632b2;
    padding: 1rem;
  }

  .navbar-list.active {
    display: flex;
  }

  .navbar-list li {
    margin: 1rem 0;
  }

  nav {
    background-color: transparent;
  }

  .dropdown-menu,
  .sub-menu {
    position: static;
    width: 100%;
    margin: 0;
    opacity: 1;
    background: #e1dada;
    box-shadow: none;
  }

  .listed a,
  .listed1 a,
  .listed2 a,
  .listed3 a {
    font-size: 1.4rem;
    margin: 0;
  }

  .nav-image img {
    width: 80px;
    height: auto;
  }

  .nav-background {
    height: 300px; /* Reduced height for mobile */
  }

  .man {
    margin-top: 2rem;
    padding-top: 2rem;
  }

  .about {
    font-size: 1.8rem;
  }

  .innovate {
    font-size: 2.4rem;
  }

  .stand {
    margin-top: 5rem;
  }

  .race,
  .miss,
  .gain,
  .exp {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .for,
  .huge,
  .ion,
  .vision,
  .mg,
  .pro,
  .locate,
  .line,
  .foster {
    font-size: 1.8rem;
  }

  .cate,
  .tracker,
  .real,
  .nate,
  .ful,
  .lead,
  .data,
  .liver,
  .enable,
  .grate,
  .build {
    font-size: 1.6rem;
  }

  .trad-image img {
    width: 100%;
    height: auto;
  }

  #join {
    padding: 2rem 1rem;
    border-radius: 0;
    text-align: center;
  }

  .join {
    font-size: 2.4rem;
  }

  .part {
    font-size: 1.6rem;
  }

  .tina a {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }

  .tog {
    gap: 3.2rem;
  }

  .below {
    flex-direction: column;
    height: auto;
    padding-top: 5rem;
  }
}

/* Additional Media Query for Very Small Screens (max-width: 480px) */
@media (max-width: 480px) {
  #mobilelink {
    font-size: 2rem;
    padding: 10px;
    color: #366e47;
  }
  #menubar,
  #menubar2 {
    display: inherit;
  }
  #linkss {
    text-align: center;
  }
  #menucontainer {
    height: 90vh;
    z-index: 1;
    width: 100%;
    background-color: #366e47;
    position: absolute;
    margin-bottom: -50vh;
    visibility: hidden;
    display: block;
  }
  #pincontainer {
    height: 30vh;
    overflow: scroll;
    width: 100%;
    overflow: scroll;
    display: none;
  }
  #mobilelink a {
    text-decoration: none;
    color: white;
  }
  #pinlink {
    font-size: 2rem;
    color: white;
    padding: 10px;
    backdrop-filter: blur(6px);
    text-decoration: none;
  }
  body {
    font-family: "Manrope", serif;
  }

  .about {
    font-size: 1.5rem;
  }

  .innovate {
    font-size: 2rem;
  }

  .for,
  .huge,
  .ion,
  .vision,
  .mg,
  .pro,
  .locate,
  .line,
  .foster {
    font-size: 1.5rem;
  }

  .cate,
  .tracker,
  .real,
  .nate,
  .ful,
  .lead,
  .data,
  .liver,
  .enable,
  .grate,
  .build {
    font-size: 1.4rem;
  }

  .join {
    font-size: 2rem;
  }

  .part {
    font-size: 1.4rem;
  }

  .accurate {
    display: inline-block;
    /* justify-content: flex-start;
    align-items: center; */
  }

  .for {
    font-size: 2rem;
    text-align: left;
    padding: 0 1rem;
  }
  .cate {
    font-size: 2.4rem;
    text-align: left;
    padding: 0 1rem;
  }

  .huge {
    font-size: 2rem;
    text-align: left;
    padding: 0 1rem;
  }

  .tracker {
    font-size: 1.6rem;
    text-align: left;
    padding: 0 1rem;
  }

  .collab {
    display: inline;
  }

  .ion {
    font-size: 2rem;
    text-align: left;
    padding: 0 1rem;
  }

  .real {
    font-size: 2rem;
    text-align: left;
    padding: 0 1rem;
  }

  .lation {
    display: inline;
  }
  .nate {
    font-size: 1.6rem;
    text-align: left;
    padding: 0 1rem;
  }

  .vision {
    font-size: 2rem;
    text-align: left;
    padding: 0 1rem;
  }
  .ful {
    font-size: 2rem;
    text-align: left;
    padding: 0 1rem;
  }
  .drive {
    display: inline;
  }

  .prove {
    display: inline;
  }
  .lead {
    font-size: 1.6rem;
    text-align: left;
    padding: 0 1rem;
  }

  .trad-image img {
    padding: 0 1rem;
  }

  .mg {
    padding: 0 1rem;
    text-align: center;
    font-size: 1.6rem;
  }

  .data {
    padding: 0 1rem;
    text-align: center;
    font-size: 2rem;
  }

  .able {
    display: inline;
  }

  .pro {
    font-size: 1.8rem;
    text-align: left;
    padding-left: 1rem;
  }

  .liver {
    font-size: 1.6rem;
    text-align: left;
    padding-left: 1rem;
  }

  .port {
    display: inline;
  }

  .vectors,
  .tribes,
  .streams,
  .eyes {
    padding: 0 1rem;
  }

  .locate,
  .line,
  .foster {
    font-size: 1.8rem;
    padding-left: 1rem;
    text-align: left;
  }

  .enable,
  .grate,
  .build {
    font-size: 1.6rem;
    text-align: left;
    padding-left: 1rem;
  }

  .cise,
  .duce,
  .access {
    display: inline;
  }

  .icons img {
    width: 28px;
    height: 28px;
  }

  .people1 img {
    width: 150px;
    height: 220px;
  }

  .join {
    font-size: 1.4rem;
    text-align: left;
  }

  .part {
    font-size: 1.2rem;
    text-align: left;
  }

  .form {
    display: inline;
  }
  .people {
    display: flex;
    gap: 0;
    padding: 0 1rem;
  }

  .tina a {
    padding: 0.8rem 3rem;
    font-size: 1.4rem;
  }

  #join {
    text-align: left;
    padding: 4rem 1rem;
    border-radius: 0 2.4rem 2.4rem 0;
  }

  .pop img {
    width: 110.8px;
    height: 64px;
    padding: 0 1rem;
  }

  .serve {
    font-size: 1.4rem;
    margin-top: -2rem;
    padding: 0 1rem;
  }

  .below {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5rem;
  }

  .map {
    order: 1;
    padding: 0 1rem;
    margin-top: 3.2rem;
    margin-bottom: 6rem;
  }

  .tog {
    gap: 3.6rem;
    padding: 0 1rem;
    margin-top: 3.2rem;
  }

  .language-container {
    display: none;
  }

  .nav-image {
    text-align: left;
    display: block;
    margin-top: -12rem;
    margin-left: -14rem;
  }
}

@media (max-width: 360px) {
  #join {
    text-align: left;
    padding: 3.9rem 1rem;
    border-radius: 0 2.4rem 2.4rem 0;
  }
  .people1 img {
    width: 150px;
    height: 233px;
  }

  #submit {
    width: 28rem;
  }
}

@media (max-width: 320px) {
  #submit {
    width: 24rem;
  }

  .nav-image {
    text-align: left;
    display: block;
    margin-top: -12rem;
    margin-left: -11rem;
  }

  .tina a {
    padding: 0.5rem 2rem;
    font-size: 1.4rem;
  }

  .map img {
    width: 302px;
    height: 214px;
  }

  #join {
    text-align: left;
    padding: 1.5rem 1rem;
    border-radius: 0 2.4rem 2.4rem 0;
  }

  .people1 img {
    width: 150px;
    height: 240px;
  }
}
